@import "compass/reset";

html, body {
    font-family: Arial, sans-serif;
}

.departure-times {

    .header {
        background: #000D66;
        line-height: 48px;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }

    .search-stations {

        .input {
            width: 100%;
            padding: 20px 10px;
            border: none;
            border-bottom: 1px solid #DDD;
            margin: 0;
            font-size: 18px;
            color: #777;
        }

        .search-results {

            .result .link {
                padding: 20px 10px;
                display: block;
                font-size: 20px;
                color: #000D66;
                text-decoration: none;
            }

            .result:nth-child(2n+1) .link {
                background: #F2F2F7;
            }

        }

    }

}
