@import "compass/reset";

html, body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.departure-times {

    $header-height: 50px;

    .header {
        background: #000D66;
        height: $header-height;
        line-height: $header-height;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }

    .search-stations {

        $input-height: 60px;

        .input {
            width: 100%;
            padding: 10px;
            height: $input-height;
            border: none;
            border-bottom: 1px solid #DDD;
            margin: 0;
            font-size: 18px;
            color: #777;
        }

        .search-results {

            height: calc(100vh - #{$header-height + $input-height});
            overflow: auto;

            .result .link {
                padding: 20px 10px;
                display: block;
                font-size: 20px;
                color: #000D66;
                text-decoration: none;
            }

            .result:nth-child(2n+1) .link {
                background: #F2F2F7;
            }

        }

    }

}
